{{ 'astro-main-product-1.css' | asset_url | stylesheet_tag }}
<div>
  <div class="container">
    <div class="astro-main-product relative">
      {% comment %} product page {% endcomment %}
      {%- liquid
        assign current_variant = product.selected_or_first_available_variant
      -%}
      <div class=" product-c grid grid-cols-1 sm:grid-cols-2 gap-4 ">
        <div class="product-gallery">
          {% render 'astro-product-gallery-1'
            , selected_variant: current_variant
            , product: product %}
        </div>
        <div class="product-info p-4 relative">
          <div class="sticky top-8 left-0">
            <astro-product-info>
              {% form 'product'
                , product
                , id: 'product_form'
                , novalidate: 'novalidate' %}
                <input
                  id="product_variant_id"
                  type="number"
                  readonly
                  name="id"
                  value="{{ current_variant.id }}">
                <div class="astro_product_form grid grid-cols-1  gap-6">
                  {% comment %} #vendor {% endcomment %}
                  <div>
                    <span class="text-2xl text-gray-500">{{ product.vendor }}</span>
                  </div>
                  {% comment %} #title {% endcomment %}
                  <div class="">
                    <h2 class="text-4xl font-semibold text-gray-800 capitalize">{{ product.title }}</h2>
                  </div>
                  {% comment %} price  {% endcomment %}
                  <p id="product_price-{{section.id}}" class="flex justify-start font-bold items-center gap-2 text-3xl">
                    <span class="">Price:</span>
                    <span id="product_current_price" class="">{{ current_variant.price | money }}</span>
                    <span class=" line-through text-red-400">{{ current_variant.compare_at_price | money }}</span>
                    {% if current_variant.price < current_variant.compare_at_price %}
                      <span class="badge badge-lg badge-neutral text-3xl p-6 uppercase">sale</span>
                    {% endif %}
                  </p>
                  {% comment %} #variant selector {% endcomment %}
                  {% comment %} {{ product.has_only_default_variant }} {% endcomment %}
                  {%- unless product.has_only_default_variant -%}
                    <astro-variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% render 'select-variant-selector'
                        , product: product
                        , section: section %}
                    </astro-variant-selector>
                    {% comment %} #option selector radio in different block {% endcomment %}
                    <astro-variant-radio data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% render 'radio-variant-selector'
                        , product: product
                        , section: section %}
                    </astro-variant-radio>
                  {%- endunless -%}
                  {% comment %} #quntity input {% endcomment %}
                  <div>
                    <label for="Quantity-{{ section.id }}">Quantity</label>
                    <div class="my-2">
                      <input
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        class="border-2 p-3 w-full "
                        id="Quantity-{{ section.id }}">
                    </div>
                  </div>
                  {% comment %} #description {% endcomment %}
                  <p class="text-gray-700">{{ product.description }}</p>
                  {% comment %} add to cart {% endcomment %}
                  <div id="product_addtocart-{{ section.id }}" class="grow-1">
                    <div class="fetch-spinner">
                      <span
                        data-variant-spinner
                        class="w-9 h-9 animate-spin rounded-full border-2 border-black border-r-white"
                        viewBox="0 0 24 24"></span>
                    </div>
                    <div class="buttons">
                      <button
                        data-buy-button="buy_button-{{ section.id }}"
                        {% unless current_variant.available %}
                        disabled
                        {% endunless %}
                        type="submit"
                        class=" capitailze btn btn-neutral mb-2 w-full btn-lg  {% unless current_variant.available %}
                      disabled
                      {% endunless %}">
                        {% if current_variant.available == false %}
                          sold out
                        {% else %}
                          <span>
                            Add to cart</span>


                        {% endif %}
                      </button>
                      <button
                        data-buy-button="buy_button-{{ section.id }}"
                        {% unless current_variant.available %}
                        disabled
                        {% endunless %}
                        type="submit"
                        class=" capitailze btn btn-neutral mb-2 w-full btn-lg  {% unless current_variant.available %}
                      disabled
                      {% endunless %}"
                        type="submit"
                        class=" capitailze btn btn-neutral w-full btn-lg">Checkout</button>
                      <div id="variant_error" class="thidden bg-warning">Something went wrong!!!</div>
                    </div>
                  </div>

                </div>

              {% endform %}

            </astro-product-info>
          </div>
        </div>
      {% comment %}  {% endcomment %}
      </div>
    </div>
  </div>
{% comment %} feature image modal {% endcomment %}

</div>

<script defer src="{{ 'astro-main-product-1.js' | asset_url }}"></script>


<script>
  document.addEventListener('DOMContentLoaded', () => {
   
    var swiper = new Swiper(".productMediaSlider", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  
  })
</script>