<header class="astro-header container">

  <div class=" ">
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost lg:thidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-[90vw] p-2 shadow">
            {% if section.settings.menu %}
              {% for link in section.settings.menu.links %}
                <li class="mx-2">
                  {% if link.links.size > 0 %}
                    <details>
                      <summary class="text-2xl font-bold">{{ link.title }}</summary>
                      <ul class="p-2">
                        {% for child_link in link.links %}
                          <li class="mb-2 border-b">
                            <a
                              class="text-2xl font-bold"
                              href="{{ child_link.url }}"
                              class="text-2xl">{{ child_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </details>
                  {% else %}
                    <a href="{{ link.title }}" class="text-2xl font-bold">{{ link.title }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
          </ul>
        </div>
        <a href="{{ routes.root_url }}" class="btn btn-ghost text-xl">
          {% if section.settings.astro_logo %}
            <img src="{{ section.settings.astro_logo }}" width="" height="" class="w-[100px] h-[50px]" alt="{{ shop.name }}">
            {% else %}
              <span class="text-3xl cursor-pointer">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>
      <div class="navbar-center thidden  lg:flex">
        <ul class="menu menu-horizontal px-1">
          {% if section.settings.menu %}
            {% for link in section.settings.menu.links %}
              <li class="mx-2">
                {% if link.links.size > 0 %}
                  <details>
                    <summary class="text-2xl font-bold">{{ link.title }}</summary>
                    <ul class="p-2">
                      {% for child_link in link.links %}
                        <li class="mb-2 border-b">
                          <a
                            class="text-2xl font-bold"
                            href="{{ child_link.url }}"
                            class="text-2xl">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </details>
                {% else %}
                  <a href="{{ link.title }}" class="text-2xl font-bold">{{ link.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn">Button</a>
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Astro Header",
    "tag": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }
    ],
    "presets": [
      {
        "name": "Astro Header",
        "settings": {}
      }
    ]
  }
{% endschema %}